        #firstPara{
          font-family: Arial, Helvetica, sans-serif; 
          font-size: 30px;
          color:antiquewhite;
          font-weight:700;
          font-style:italic;
          text-align: center;
          text-decoration: underline;
          text-transform: capitalize;
          text-shadow: 1px 1px 10px violet;
          /* text-wrap:intial;
          text-overflow: ; */
          

        }
        #secondpara{
          font-size: 30px;
          color:antiquewhite;
          font-weight:700;
          font-style:italic;
          text-align: center;
          text-decoration: underline;
          text-transform: capitalize;
          text-shadow: 1px 1px 10px violet;
        }
        
        body{
    margin:0px;
    padding:0px;
    background-color:aliceblue;
    /* background-image: url('pikachu.png');
    background-color: aliceblue;
    background-position: center ;
    background-repeat: no-repeat; */
    background-image:url('pikachu.png') ;
    background-size: cover;
}